<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Survey Dataset Exploration Lab**

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

-   Load the dataset that will used thru the capstone project.
-   Explore the dataset.
-   Get familier with the data types.

## Load the dataset

Import the required libraries.

In [ ]:
import pandas as pd

The dataset is available on the IBM Cloud at the below url.

In [ ]:
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

Load the data available at dataset_url into a dataframe.

In [ ]:
df = pd.read_csv(dataset_url)

In [ ]:
df.head(5)

## Explore the data set

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [ ]:
df.head(5)

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [ ]:
df.index

RangeIndex(start=0, stop=11552, step=1)

Print the number of columns in the dataset.

In [ ]:
df.shape

(11552, 85)

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [ ]:
df.dtypes

Respondent       int64
MainBranch      object
Hobbyist        object
OpenSourcer     object
OpenSource      object
                 ...
Sexuality       object
Ethnicity       object
Dependents      object
SurveyLength    object
SurveyEase      object
Length: 85, dtype: object

Print the mean age of the survey participants.

In [ ]:
df["Age"].mean()

30.77239449133718

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [ ]:
df.groupby(['Country']).mean()

                                        Respondent  ...        Age
Country                                             ...
Afghanistan                           16598.000000  ...  24.000000
Albania                               14360.500000  ...  26.125000
Algeria                                8735.333333  ...  34.000000
Argentina                             11490.397260  ...  30.929577
Armenia                               12393.000000  ...  25.916667
...                                            ...  ...        ...
Uzbekistan                            12379.000000  ...  32.500000
Venezuela, Bolivarian Republic of...  13390.714286  ...  24.833333
Viet Nam                              13687.083333  ...  27.400000
Yemen                                  1129.000000  ...  30.000000
Zimbabwe                               6652.600000  ...  29.600000

[135 rows x 6 columns]